<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnqvudKgzcc5AkD0W1t8uUlS1_4ZE6MUg</string>
	<key>GCM_SENDER_ID</key>
	<string>972252325463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-73cad</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-73cad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972252325463:ios:b2cd022af7bf5e86c92512</string>
</dict>
</plist>